/* styles */
body {
	background: #004D40;
	color: white;
}
#buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  padding: 30px;
	button {
		border: 1px solid black;
		padding: 5px 10px;
		margin: 5px;
		cursor: pointer;
		&:hover{
			background: gray;
		}
		&:active {
			outline:none;
		}
	}
}
form {
	padding: 30px;
}
#gifs {
	padding: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.gif {
	text-align: center;

	padding: 20px;
	width: 33%;
	img {
		cursor: pointer;
		border: 3px solid rgba(black,.3);
		display: block;
		margin: auto;
	}
	.source-link {
		display: block;
		word-wrap: break-word;
		margin-top: 16px;
		color: rgba(white,.7);
		text-decoration: underline;
		&:hover {
			color: white;
		}
	}
	button {
		background: white;
		margin-top: 16px;
	}
}

#add-topic {
	background: #B0BEC5;
	color:white;
	cursor: pointer;
	border: none;
	padding: 5px 20px;
	&:hover {
		background: #ddd;

	}
}
